{
	"env": {
		"es6": true,
		"mocha": true
	},
	"extends": [
		"plugin:vue/essential",
		"google"
	],
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "babel-eslint",
		"sourceType": "module"
	},
	"rules": {
		// require semicolons
		"semi": ["error", "always"],

		// don't concern ourselves with line endings
		"linebreak-style": 0,

		// don't error if no jsdoc provided
		"require-jsdoc": 0,

		// allow use of "new Vue(...)"
		"no-new": 0,

		// more manageable max line length
		"max-len": ["error", { "code": 160 }]
	}
}