{
  "env": {
    "es6": true,
    "mocha": true
  },
  "extends": "vue",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "always"]
  }
}